# Exclude Django created local def folders
*.sqlite3
*.pyc
__pycache__
*.py[cod]

# Exclude VScode created def folders
.vscode
.env
env.py
venv/

# Media uploads
/media/

# Django static collect
/staticfiles/
staticfiles_build/

# Virtualenv
/venv/

# Env vars
.env

*.json
databasedump.json
