{% extends 'main.html' %}
{% load static %}

{% block title %} Leer ons kennen {% endblock %}

{% block page_header %}
<div class="container mb-3">
  <div class="row text-center">
    <h2 class="mt-5 mb-2 mx-md-auto col-12">
      Wie zijn wij en wat is een shanty?
    </h2>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row align-items-center">
    <div class="col-12 col-md-7 text-center text-md-start">
      <h5>{{ intro.title }}</h5>

      {% if intro.paragraph_1 %}<p>{{ intro.paragraph_1 }}</p>{% endif %}
      {% if intro.paragraph_2 %}<p>{{ intro.paragraph_2 }}</p>{% endif %}
      {% if intro.paragraph_3 %}<p>{{ intro.paragraph_3 }}</p>{% endif %}
      {% if intro.paragraph_4 %}<p>{{ intro.paragraph_4 }}</p>{% endif %}
      {% if intro.paragraph_5 %}<p>{{ intro.paragraph_5 }}</p>{% endif %}
      {% if intro.paragraph_6 %}<p>{{ intro.paragraph_6 }}</p>{% endif %}
      {% if intro.paragraph_7 %}
      <p>
        {{ intro.paragraph_7 }}
        <a class="contact-link" href="{% url 'zing_mee' %}">hier</a>
      </p>
      {% endif %}
      {% if user.is_staff %}
      <div class="container text-center text-md-start mt-3">
        <a class="btn general-btn hvr-grow" href="{% url 'about:about_intro_edit' %}">
          Over ons info bewerken
        </a>
      </div>
      {% endif %}
    </div>
    <div class="col-12 col-md-5 mt-3 mt-md-0 text-center">
      {% if intro.image %}
      <img src="{{ intro.image.url }}" class="img-fluid rounded" alt="Zeilboot">
      {% endif %}
    </div>
  </div>
</div>


<div class="container my-5">
  <div class="row">
    <div class="col-12 text-center text-md-start">
      <h5>Wat is een shanty?</h5>
      <p>
        Shantyliederen werden gezongen vanaf het einde van de 15e eeuw tot het begin van de 20e eeuw. De meeste shanties
        die vandaag de dag nog bekend zijn, stammen uit de 19e eeuw.
      </p>
      <p>
        In de periode tussen 1800 en 1870 nam de wereldhandel over zee sterk toe. Schepen voeren naar verre bestemmingen
        en er ontstond behoefte aan grotere en snellere zeilschepen. Zo verschenen de slanke, snelle klippers: grote
        schepen met relatief kleine bemanningen. Ook de walvisvaart speelde in deze tijd een belangrijke rol.
      </p>
      <p>
        Een shanty is een Engelstalig werklied dat aan boord van zeilschepen werd gezongen tijdens zwaar lichamelijk
        werk. De liederen hielpen om het tempo vast te houden en zorgden ervoor dat de bemanning gelijktijdig kon
        werken.
      </p>
      <p>
        Een klassiek shantylied bestaat uit een afwisseling tussen een couplet en een vraag-en-antwoordstructuur. De
        shantyman – de voorzanger – zong de regels voor, waarna de bemanning in koor antwoordde. Een goede shantyman was
        van grote waarde: bij goed gezang was de sfeer aan boord beter en werd het werk lichter.
      </p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row align-items-start">
    <div class="col-12 col-md-4 order-md-1 mt-3 mt-md-0 text-center mb-5">
      <img src="{% static 'img/about/haalshanty.webp' %}" class="img-fluid rounded" alt="Haalshanty in actie">
    </div>
    <div class="col-12 col-md-8 order-md-2 text-center text-md-start">
      <h5>Soorten shanties</h5>
      <p><em>Haalshanty</em><br>Gezongen bij het hijsen van de zeilen.</p>
      <p><em>Kaapstander- of gangspilshanty</em><br>Gebruikt bij het omhoog draaien van het anker.</p>
      <p><em>Ballastshanty</em><br>Gezongen bij het aan boord brengen van ballast, vaak zand, om het schip
        stabiel te houden. <em>Ameland</em> is een bekend voorbeeld.</p>
      <p><em>Pompshanty</em><br>Houten schepen waren zelden volledig waterdicht. Pompshanties begeleidden het
        leegpompen van het ruim.</p>
      <p><em>Stamp ’n go shanty</em><br>Gebruikt wanneer lange lengtes touw moesten worden binnengehaald. De
        bemanning liep weg met de lijn en hield het ritme vast door te stampen.</p>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row align-items-start">
    <div class="col-12 col-md-8 text-center text-md-start mb-5">
      <h5>Andere zeemansliederen</h5>
      <p><em>Forebitters</em><br>
        Wanneer de bemanning vrij was, werden op het voordek ballades gezongen over het harde leven aan boord, het eten,
        heimwee en de kapitein.</p>
      <p><em>Vissers- en zeemansliederen</em><br>
        Liederen over thuishavens, afscheid, geliefden en het leven op zee.</p>
      <p><em>Drinkliederen</em><br>
        Ontspanning hoorde bij het zeeleven. Deze liederen gingen vaak over rum, vriendschap en avontuur.</p>
    </div>
    <div class="col-12 col-md-4 mt-3 mt-md-0 text-center mb-10">
      <img src="{% static 'img/about/drinkliederen.webp' %}" class="img-fluid rounded"
        alt="Drinkliederen en gezelligheid">
    </div>
  </div>
</div>
{% endblock %}