{% extends 'main.html' %}
{% load static %}

{% block title %}Er ging iets mis{% endblock %}

{% block page_header %}
<div class='container mb-3'>
  <div class='row text-center'>
    <h2 class='mt-5 mb-2 mx-md-auto col-12'>Er ging iets mis</h2>
  </div>
</div>
{% endblock %}

{% block content %}
<div class='container my-5'>
  <div class='row justify-content-center'>
    <div class='col-12 col-lg-8 col-xl-7'>
      <div class='info-card p-4 rounded shadow-sm text-center'>
        <p class='mb-3'>
          Er is onverwacht een fout opgetreden.
          We zijn hiervan op de hoogte.
        </p>

        <a class='btn general-btn hvr-grow'
           href="{% url 'home' %}">
           <i class="fa-solid fa-arrow-rotate-left me-2"></i> Terug naar de homepage
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
