{% load static %}

<!-- Footer -->
<footer class="fixed-bottom footer">
  <div class="container-fluid footer-container mt-3 position-relative">
    <div class="row justify-content-center text-sand">
      <div class="col-12 text-center footer-text">
        <span>
          <li class="d-inline">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=61578540687254" data-toggle="tooltip"
              data-placement="top" title="https://www.facebook.com/profile.php?id=61578540687254" rel="noreferrer"><i
                class="fab fa-facebook footer_icons text-sand hvr-grow"></i></a>
          </li>
          <li class="d-inline">
            <a target="_blank" href="https://www.youtube.com/@KrakendTuig" data-toggle="tooltip" data-placement="top"
              title="https://www.youtube.com/@KrakendTuig" rel="noreferrer"><i
                class="fab fa-youtube footer_icons text-sand hvr-grow"></i></a>
          </li>
        </span>
        <br>
        <span class="footer-copyright">
          © {% now 'Y' %} - Krakend Tuig, alle rechten voorbehouden
        </span>
        <br>
        <span class="footer-copyright">
          KvK: 30213801 - IBAN: NL31RABO0120556529
        </span>
      </div>
      <button type="button" onclick="goToTop()" class="btn gtt-btn hvr-grow rounded-5" id="goToTopBtn">
        <i class="fas fa-circle-arrow-up" style="color:#E2D8C9; font-size: 24px;"></i>
      </button>
    </div>
  </div>
</footer>
<!-- Footer end -->

{% block postloadjs %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}