{% extends 'main.html' %}
{% load static %}
{% block title %} Krakend Tuig Home {% endblock %}

{% block page_header %}
<div class="hero-image position-relative w-100">
  <img src="{% static 'img/krakend_tuig_hero.webp' %}" alt="Krakend Tuig Hero" class="img-fluid w-100">
</div>
{% endblock %}

{% block content %}
<div class="container mt-3">
  <div class="row text-center mx-3">
    <h2>Welkom bij shantykoor Krakend Tuig</h2>
    <div class="col-12">
      <p>
        Sinds 2006 brengen wij als Krakend Tuig muziek die je meeneemt op zee – en naar ons hart.
        Wees welkom om mee te luisteren of mee te doen!
      </p>
      <br>
      <h4>Mededelingen</h4>
      <p>
        Leden van Krakend Tuig kunnen hun wachtwoord opvragen bij webmaster.kt@krakendtuig.nl
      </p>
    </div>
  </div>
</div>
<div class="container mb-10">
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="{% static 'img/slides/slide1.png' %}" class="d-block w-100" alt="Krakend Tuig 1">
      <div class="caption">
        Impressie van het optreden in Tamarinde 2023
        <p class="credit">Foto: Fred Brave</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src=" {% static 'img/slides/slide2.png' %}" class="d-block w-100" alt="Krakend Tuig 2">
      <div class="caption">
        Impressie van het optreden in Tamarinde 2023
        <p class="credit">Foto: Fred Brave</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{% static 'img/slides/slide3.png' %}" class="d-block w-100" alt="Krakend Tuig 3">
      <div class="caption">
        Impressie van het optreden in Tamarinde 2023
        <p class="credit">Foto: Fred Brave</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{% static 'img/slides/slide4.png' %}" class="d-block w-100" alt="Krakend Tuig 4">
      <div class="caption">
        Impressie van het optreden in Tamarinde 2023
        <p class="credit">Foto: Fred Brave</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{% static 'img/slides/slide5.png' %}" class="d-block w-100" alt="Krakend Tuig 5">
      <div class="caption">
        Impressie van het optreden in Tamarinde 2023
        <p class="credit">Foto: Fred Brave</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{% static 'img/slides/slide6.png' %}" class="d-block w-100" alt="Krakend Tuig 6">
      <div class="caption">Impressie van het optreden in Tamarinde 2023</div>
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="{% static 'img/slides/slide7.png' %}" class="d-block w-100" alt="Krakend Tuig 7">
      <div class="caption">
        Impressie van het optreden in Tamarinde 2023
        <p class="credit">Foto: Fred Brave</p>
      </div>
    </div>
    <div class="carousel-item"data-bs-interval="5000">
      <img src="{% static 'img/slides/slide8.png' %}" class="d-block w-100" alt="Krakend Tuig 8">
      <div class="caption">
        Impressie van het optreden in Tamarinde 2023
        <p class="credit">Foto: Fred Brave</p>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
</div>

  <div class="mb-10"></div>
  {% endblock %}

  {% block postloadjs %}
  {{ block.super }}
  {% endblock %}