{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-xl bg-marine navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="hamburger_menu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbar">
      <div class="offcanvas-header bg-marine">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-center flex-grow-1 pe-5 me-auto mb-2 mb-lg-0">
          <li class="nav-item {% if request.path == '/home/'%}active{% endif %}">
            <a class="nav-link text-sand ms-lg-2 ms-xl-4" href="{% url 'home' %}">
              <i class="fa-solid fa-house"></i>
            </a>
          </li>
          <li class="nav-item {% if request.path == '/contact/'%}active{% endif %}">
            <a class="nav-link text-sand ms-lg-2 ms-xl-4" href="{% url 'contact' %}">
              Contact
            </a>
          </li>
          <li class="nav-item {% if request.path == '/leer_ons_kennen/'%}active{% endif %}">
            <a class="nav-link text-sand ms-lg-2 ms-xl-4" href="{% url 'about' %}">
              Leer ons kennen
            </a>
          </li>
          <li class="nav-item {% if request.path == '/zing_mee/'%}active{% endif %}">
            <a class="nav-link text-sand ms-lg-2 ms-xl-4" href="{% url 'zing_mee' %}">
              Zing mee
            </a>
          </li>
          <li class="nav-item {% if request.path == '/agenda/'%}active{% endif %}">
            <a class="nav-link text-sand ms-lg-2 ms-xl-4" href="{% url 'agenda:overzicht' %}">
              Agenda
            </a>
          </li>
          {# Foto’s & video’s: active voor overview + album detail #}
          <li class='nav-item {% if ' /fotos-en-videos' in request.path %}active{% endif %}'>
            <a class='nav-link text-sand ms-lg-2 ms-xl-4' href='{% url 'public_content:overview' %}'>
              Foto’s & video’s
            </a>
          </li>
          <li class="nav-item {% if request.path == '/vrienden_&_sponsers/'%}active{% endif %}">
            <a class="nav-link text-sand ms-lg-2 ms-xl-4" href="#">
              Vrienden & Sponsors
            </a>
          </li>
          <!-- Behind login -->
          {% if request.user.is_authenticated %}

          <li class="nav-item ms-lg-2 ms-xl-4 d-flex align-items-center">
            <span class="m-0 text-sand">
              Ingelogd als {{ request.user.first_name|default:request.user.username }}
            </span>
          </li>
          {% if request.user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link text-sand ms-lg-2 ms-xl-4 dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Profiel
            </a>
            <ul class="dropdown-menu bg-grey border-0">
              <li><a href="#" class="dropdown-item">Profiel pagina</a></li>
              <li><a href="#" class="dropdown-item">Ledenlijst</a></li>
              <li><a href="#" class="dropdown-item">Liedteksten</a></li>
              <li><a href="#" class="dropdown-item">Planning optredens</a></li>
              <li><a href='{% url 'public_content:smoelenboek_public' %}' class="dropdown-item">Smoelenboek</a></li>
            </ul>
          </li>
          {% endif %}
          <li class="nav-item ms-lg-2 ms-xl-4 d-flex align-items-center">
            <form method="post" action="{% url 'logout' %}" class="m-0">
              {% csrf_token %}
              <input type="hidden" name="next" value="{% url 'login' %}">
              <button type="submit" class="nav-link text-sand btn btn-link p-0">
                Log uit
              </button>
            </form>
          </li>

          {% else %}
          <li class="nav-item ms-lg-2 ms-xl-4">
            <a class="nav-link text-sand" href="{% url 'login' %}?next={{ request.path }}">
              <i class="fa-solid fa-user me-2"></i>Inloggen
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- Navbar end -->