{% extends 'main.html' %}
{% load static %}

{% block title %}Smoelenboek NIET openbaar{% endblock %}

{% block page_header %}
<div class="container mt-3 mb-3">
  <div class="row text-center">
    <div>
      <h1 class="h3 mt-5 mb-2">Smoelenboek</h1>
      <div class="text-muted">Alle leden (alleen zichtbaar na inloggen)</div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="d-flex justify-content-center justify-content-md-start mb-4">
    <a class="btn general-btn hvr-grow"
       href="{% url 'accounts:profile_detail' %}">
      <i class="fa-solid fa-arrow-rotate-left me-2"></i>
      Terug
    </a>
  </div>

  <div class="row g-4">
    {% for m in members %}
      <div class="col-6 col-md-4 col-lg-3">
        <div class="card h-100 text-center info-card">
          {% if m.photo %}
            <img
              src="{{ m.photo.url }}"
              class="rounded-circle mx-auto mt-3 member-photo"
              alt="{{ m.user.first_name }} {% if m.last_name_prefix %}{{ m.last_name_prefix }} {% endif %}{{ m.user.last_name }}">
          {% endif %}

          <div class="card-body">
            <div class="fw-semibold">
              {{ m.user.first_name }}
              {% if m.last_name_prefix %}{{ m.last_name_prefix }} {% endif %}
              {{ m.user.last_name }}
            </div>

            {% if m.role %}
              <div class="text-muted small mt-1">{{ m.role }}</div>
            {% endif %}

            <!-- <div class="text-muted small mt-1">Profielfoto is:</div>
            {% if not m.consent_public_profile %}
              <span class="profile-badge profile-badge--private mt-2">
                <i class="fa-solid fa-eye-slash me-1"></i>
                Niet openbaar
              </span>
            {% else %}
            <span class="profile-badge profile-badge--public">
              <i class="fa-solid fa-eye me-1"></i>
              Openbaar
            </span>
            {% endif %} -->
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class="mb-10"></div>
{% endblock %}
